body{
    background-color: white;
    margin: 0 auto;
    width: 960px;
}
img{
    border: 5px solid gray;
    border-radius: 10px;
}

.imgcont{
    position: relative;
    text-align: center;
}
.greet{
    position: relative;
    bottom: 500px;
    right: 200px;
    color: yellow;
    font-family: "Lucida Handwriting", Georgia, serif;
    font-size: 38px;
}