@font-face{
    font-family: tss;
    src: url("../fonts/tss.ttf");
}
html{
    height: 100%;
}
*{
    color: white;
    font-family: tss;
    font-size: 38px;
}
body{
    background-color: white;
    margin: 0 auto;
    width: 960px;
    height: 100%;
}
.background{
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    z-index: 0;
    
    /*Opacity*/
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    
    /* IE 5-7 */
    filter: alpha(opacity=70);
    
    /* Netscape */
    -moz-opacity: 0.7;
    
    /* Safari 1.x */
    -khtml-opacity: 0.7;
    
    /* Good browsers */
    opacity: 0.7;
}
img.ny{
    position: relative;
    margin-top: 10px;
}

.imgcont{
    position: relative;
    text-align: center;
    height: 100%;
}
.greet{
    position: relative;
    bottom: 530px;
    right: 200px;
}
ul{
    position: relative;
    bottom: 60px;
    right: 40px;
}
a, li{
    position: relative;
    color: black;
    transition: color .5s ease-in-out;
    display: inline;
    text-decoration: none;
    padding: 25px;
}
div.menu{
    
}
ul.menu{
    background-color: white;
    height: 50px;
    width: 100%;

    margin-left: auto;
    margin-right: auto;
}
a:hover{
    color: gray;
}
img.instagram{
    height: 40px;
    width: 40px;
}